READ DATASET

DROP COLUMNS EXCEPT Survived, Pclass , Sex , Age , Fare

CREATE DATASET FOR INDEPENDENT & DEPENDENT VARIABLES

MAP SEX COLUMN TO 1 , 0

FILL NA VALUES OF AGE BY MEAN VALUE

SPLIT DATA

CLASSIFY USING DECISION TREE

CHECK ACCURACY